version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    depends_on:
      - db

web:
  image: nginx:1.25
  ports:
    - "443:443"
  volumes:
    - .:/var/www/html
    - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    # mount SSL dari server host
    - /var/www/docker/ssl/server.crt:/etc/nginx/ssl/server.crt
    - /var/www/docker/ssl/server.key:/etc/nginx/ssl/server.key
  depends_on:
    - app


  db:
    image: mysql:8.0
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    restart: always
    environment:
      MYSQL_DATABASE: meetingroom
      MYSQL_USER: mr_user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
